<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <img  id="img_logo" src="http://vidriosemmanuel.com.mx/SIVEM/views/layout/default/img/categorias.png" />
          <br><br>
        <div class="container-fluid">
          <form>
            <div class="row">
              <input class="form-control" id="Id" name="Id" placeholder="ID Categoria" type="text" required="" ng-model="id">
            </div>

            <div class="row">
              <input class="form-control" id="Descripcion" name="descripcion" placeholder="Descripcion" type="text" required="" ng-model="name">
            </div>
        
            <div class="col-xs-12">.</div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar Categoria</button>
              <br>
            <div class="row" align="left">
              <a href="#verCategoria">Ver Categoria</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>