<center>
    <div class="row">
        <div id= "id_About" class="jumbotron text-center">
            <p> </p>
            <h1>ADMINISTRACIÓN</h1> 
            
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="btn-group">
            <a type="button" class="btn btn-primary btn-lg" href="#provedor">
                Provedores 
            </a > 
            <a type="button" href="#categorias" class="btn btn-success btn-lg ">
                Categoria de Productos
            </a>
            <a href="#productos" type="button" class="btn btn-info btn-lg">
                Productos 
            </a> 
            <a type="button" class=" btn btn-warning btn-lg" >
                Sucursales 
            </a> 
            <button type="button" class="btn btn-danger btn-lg">
                Título del botón 
            </button> 
        </div>
    </div>
</center>
        
            
        
        
        
        
        
            
        
        
               
            
      
   
