 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <img  id="img_logo" src="https://www.fiscoclic.mx/Resources/imgs/iconos/proveedores.png" />
        <div class="container-fluid">
          <form>
            <div class="row">
              <input class="form-control" id="Id" name="Id" placeholder="ID" type="text" required="" ng-model="id">
            </div>

            <div class="row">
              <input class="form-control" id="Name" name="Name" placeholder="Name" type="text" required="" ng-model="name">
            </div>

            <div class="row">
              <input class="form-control" id="LastName" name="LastName" placeholder="LastName" type="text" required="" ng-model="LastName">
            </div>

            <div class="row">
              <input class="form-control" id="Address" name="Address" placeholder="Address" type="text" required="" ng-model="Address">
            </div>

            <div class="row">
              <input type="date" class="form-control" id="bDate" name="bDate" placeholder="Birthdate" required="" ng-model="bDay">
            </div>

        
            <div class="col-xs-12">.</div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar Provedor</button>
              <br>
            <div class="row" align="left">
              <a href="#verProvedor">Ver Provedores</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>