<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <img  id="img_logo" src="http://vidriosemmanuel.com.mx/SIVEM/views/layout/default/img/categorias.png" />
        <div class="container-fluid">
            <br><br>
            <div class="row" align="left">
                <input type="text" placeholder="Buscar" ng-model="search" >
            </div>
            <br>
           <div class="row">
               <div class="panel panel-default">
                   <div class="panel-heading">
                       <h4>
                           CATEGORIAS
                       </h4>
                   </div>
                   <table class="table table-fixed ">
                       <thead>
                           <tr>
                               <th class="col-xs-4">ID</th>
                               <th class="col-xs-7">Descripcion</th>
                               <th class="col-xs-1">Borrar</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr ng-repeat="data in categorias | filter:search">
                               <td class="col-xs-4">{{data.id}}</td>
                               <td class="col-xs-7">{{data.descripcion}}</td>
                               <td class="col-xs-1"> 
                                   <span class="glyphicon glyphicon-trash"></span>
                               </td>
                           </tr>
                       </tbody>
                   </table>
               </div>
               <div align="left">
                   <a href="#categorias">Ingresa una Nueva Categoria</a>
               </div>
            </div>
          </div>
        </div>
    </div>
</div>